*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{ background: linear-gradient(45deg, #f06, #ff9a00, #ffcf00); margin-bottom: 5%;  height: 100vh;
    margin: 0;   background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};